body{
	font-family: 'Lato', sans-serif;
}

img{
	max-width: 100%;
}

.quitar-float{
	float: none;
}

.espacio-arriba {
	margin-top: 200px;
}

.pacifico{
	font-family: 'Pacifico', cursive;
}

.grande{
	font-size: 4em;
}
.titulo{
	color: #5BA70A;
}
.subtitulo{
	color: #3397E9;
}

.espacio-derecha{
	margin-right: 1em;
}

.no-lista{
	margin: 0px;
	padding: 0px;
}
.no-lista li{
	list-style-type:none ; 
}

.ser-gris{
	background-color: #eee;
}
.padding-largo{
	padding: 5px 10px;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
a, .azul{
	color: #497CBF;
}